# Auto detect text files and perform LF normalization
* text=auto
secbert_clean/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
secbert_clean/model.safetensors filter=lfs diff=lfs merge=lfs -text
